/* basic reset */
* { margin: 0; padding: 0; }
/* adding a black bg to the body to make things clearer */
body { background: black; }
canvas { display: block; }
#logo {
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    max-width: 25%; /* logo won't exceed 25% of the screen width */
}